.input-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  input {
    width: 60%;
    height: 22px;
    outline: none;
    border: none;
    border-radius: 3px;
  }
}
button {
  cursor: pointer;
}
